.filtered-list-item {
  background-color: var(--light-green);
  font-size: 1rem;
  width: 100%;
  margin: 0.5em 0 0 ;
  padding: 0.5em;
  padding-inline-start: 1em;
  border: 1px solid var(--dark-spring-green);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.filtered-list-item h3 {
  font-size: 1.2rem;
  padding-block-end: 0.5em;
}

.ware-picture {
  border: 1px solid #000;
  height: 100px;
  width: 75px;
}

.filtered-list-item p {
  font-size: 1rem;
  height: 1.6em;
  margin: 0.2em 0;
}

.filtered-list-item button {
  font-size: 1rem;
  height: 1.6em;
  width: fit-content;
  margin: 0.2em 0;
  padding: 0.2em 0.4em;
  background-color: var(--atomic-tangerine);
  color: #000;
  border: 1px solid #000;
  border-radius: 0.3em;
  transition: all ease 0.4s;
}

.filtered-list-item button:active {
  transform: translateY(1px);
  filter: saturate(200%);
}

@media only screen and (hover: hover) {
  .filtered-list-item button:hover {
    color: var(--dark-spring-green);
    border-color: currentColor;
    background-color: #e1f3e0;
    cursor: pointer;
  }
}