header {
  background-color: var(--dark-spring-green);
  color: #e9e9db;
  font-size: 2rem;
  height: 3em;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  padding: 0.2em;
  margin: 0.2em;
}

header .nav-buttons {
  display: flex;
  align-items: center;
}

header button {
  background-color: var(--citrine);
  font-size: 1rem;
  margin: 0.5em;
  border: 2px solid var(--dark-spring-green);
  border-radius: 8px;
  transition: all ease 0.4s;
}

#bid-button {
  height: 2.5em;
  padding: 0 0.5em;
}

#cart-button {
  padding: 0.3rem;
  position: relative;
}

header button:active {
  rotate: 12deg;
  filter: saturate(30%);
}

.cart-icon {
  font-size: 1rem;
  height: 3em;
  width: 3em;
}

.red-number {
  background-color: #ff0000;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 34px;
  top: 37px;
}

@media only screen and (min-width: 540px) {
  header {
    justify-content: space-evenly;
  }
}

@media only screen and (hover: hover) {
  header button:hover {
    color: var(--dark-spring-green);
    border-color: #085112;
    background-color: var(--light-green);
    cursor: pointer;
    transform: rotate(-4deg);
  }
}