#search-bar {
  background-color: var(--brown-sugar);
  padding: 0.5rem;
  margin-block-end: 1rem;
  border-radius: 5px;
}

#search-field {
  background-color: var(--citrine);
  font-size: 1rem;
  height: 2em;
  width: 75%;
  padding-inline-start: 0.5em;
  border: 0px solid #000;
  border-radius: 4px;
}