* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  background-color: var(--pale-yellow);
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.search-and-results {
  width: 100%;
  margin: 0 1rem;
  padding: 0.5rem;
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}